@page "/contact"

<div class="md:container mt-4 h-128">
    <h4 class="text-lg font-bold mb-8">Contact</h4>
    <p class="text-md">For more information about the site, you can contact: <strong>info@fotostorio.net</strong></p>
</div>
