@page "/"

@inject IJSRuntime JsRuntime;

<div class="min-h-screen">
    <div class="container max-w-7xl mt-8">
        <div id="promo-carousel" class="carousel slide d-none d-md-block max-h-112" data-bs-ride="carousel">
            <!-- slide location indicators -->
            <ol class="carousel-indicators">
                <li data-bs-target="#promo-carousel" data-bs-slide-to='0' class="active" ></li>
                <li data-bs-target="#promo-carousel" data-bs-slide-to='1' ></li>
                <li data-bs-target="#promo-carousel" data-bs-slide-to='2' ></li>
            </ol>
            <!-- main carousel images -->
            <div class="carousel-inner">
                <div class="carousel-item carousel-image-1 active" >
                    <img class="d-block" src="https://fotostorioimages.blob.core.windows.net/repo/fuji-x-t3-promo.jpg" alt="">
                    <div class="carousel-caption d-none d-md-block text-dark">
                        <NavLink href="/products/details/6">
                            <button class="my-3 btn btn-outline-light">View the Fujifilm X-T3</button>
                        </NavLink>
                    </div>
                </div>
                <div class="carousel-item carousel-image-2" >
                    <img class="d-block" src="https://fotostorioimages.blob.core.windows.net/repo/nikon-z6ii-promo.jpg" alt="">
                    <div class="carousel-caption d-none d-md-block text-light">
                        <NavLink href="/products/details/3">
                            <button class="my-3 btn btn-outline-light">Explore the Nikon Z6 II</button>
                        </NavLink>
                    </div>
                </div>
                <div class="carousel-item carousel-image-3" >
                    <NavLink href="/products/categories/3">
                        <img class="d-block" src="https://fotostorioimages.blob.core.windows.net/repo/lenses-promo.jpg" alt="">
                        <div class="carousel-caption d-none d-md-block text-light">
                            <button class="my-3 btn btn-outline-light">View our range of lenses</button>
                        </div>
                    </NavLink>
                </div>
            </div>
            <!-- next/prev buttons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#promo-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#promo-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-- category grid -->
    <div class="md:container max-w-7xl mt-8 md:mt-24">
        <div class="md:hidden mb-12 w-full md:px-8 flex justify-center items-center">
            <ClickSearch 
                Placeholder="Search the store..." 
                ButtonType="standard"
            />
        </div>
        <div class="grid grid-cols-1 grid-rows-4 md:grid-cols-3 md:grid-rows-2 gap-2 items-stretch">
            <div class="hidden md:block md:row-span-2 md:cols-span-1 bg-gray-900 text-gray-50 h-full w-full hover:opacity-80 relative overflow-hidden">
                <a href="products" >
                    <img src="https://fotostorioimages.blob.core.windows.net/repo/full-range.jpg" alt="Search our entire range" class="object-cover transition ease-in-out duration-500 transform hover:scale-110 ">
                </a>
                <div class="absolute top-0 ml-4 mt-2 font-semibold text-base lg:text-xl text-gray-700">
                    <span>Search our full range</span>
                </div>
            </div>
            <div class="bg-gray-900 text-gray-50 h-full w-full hover:opacity-80 relative overflow-hidden">
                <a href="products/categories/1" >
                    <img src="https://fotostorioimages.blob.core.windows.net/repo/nikon-dslr.jpg" alt="View DSLR cameras" class="object-cover transition ease-in-out duration-500 transform hover:scale-110 ">
                </a>
                <div class="absolute top-0 ml-4 mt-2 font-semibold text-base md:text-lg text-gray-50">
                    <span>DSLR cameras</span>
                </div>
            </div>
            <div class="bg-gray-900 text-gray-50 h-full w-full hover:opacity-80 relative overflow-hidden">
                <a href="products/categories/2">
                    <img src="https://fotostorioimages.blob.core.windows.net/repo/mirrorless-cameras.jpg" alt="View Mirrorless cameras" class="object-cover transition ease-in-out duration-500 transform hover:scale-110">
                </a>
                <div class="absolute top-0 ml-4 mt-2 font-semibold text-base md:text-lg text-gray-50">
                    <span>Mirrorless cameras</span>
                </div>
            </div>
            <div class="bg-gray-900 text-gray-50 h-full w-full hover:opacity-80 relative overflow-hidden">
                <a href="products/categories/3" >
                    <img src="https://fotostorioimages.blob.core.windows.net/repo/lenses-temp2.jpg" alt="View all Lenses" class="object-cover transition ease-in-out duration-500 transform hover:scale-110">
                </a>
                <div class="absolute top-0 ml-4 mt-2 font-semibold text-base md:text-lg text-gray-50">
                    <span>Lenses</span>
                </div>
            </div>
            <div class="bg-gray-900 text-gray-50 h-full w-full hover:opacity-80 relative overflow-hidden">
                <a href="specialoffers">
                    <img src="https://fotostorioimages.blob.core.windows.net/repo/lenses-temp1.jpg" alt="View Special Offers" class="object-cover transition ease-in-out duration-500 transform hover:scale-110">
                </a>
                <div class="absolute top-0 ml-4 mt-2 font-semibold text-base md:text-lg text-gray-50">
                    <span>Special Offers</span>
                </div>
            </div>
        </div>
    </div>

    <!-- brands -->
    <div class="md:container mt-16 md:mt-24">
        <div class="md:container max-w-7xl rounded-md shadow-md pt-3 bg-white">
            <div class="flex justify-around items-center flex-col md:flex-row">
                <div class="h-24 w-24 lg:h-28 lg:w-28">
                    <a href="products/brands/1">
                        <img src="https://fotostorioimages.blob.core.windows.net/repo/canon-logo.jpg" class="transition duration-300 transform ease-in-out hover:scale-110" />
                    </a>
                </div>
                <div class="h-24 w-24 lg:h-28 lg:w-28">
                    <a href="products/brands/2">
                        <img src="https://fotostorioimages.blob.core.windows.net/repo/nikon-logo.jpg" class="transition duration-300 transform ease-in-out hover:scale-110" />
                    </a>
                </div>
                <div class="h-24 w-24 lg:h-28 lg:w-28">
                    <a href="products/brands/3">
                        <img src="https://fotostorioimages.blob.core.windows.net/repo/sony-logo.jpg" class="transition duration-300 transform ease-in-out hover:scale-110" />
                    </a>
                </div>
                <div class="h-24 w-24 lg:h-28 lg:w-28">
                    <a href="products/brands/4">
                        <img src="https://fotostorioimages.blob.core.windows.net/repo/fujifilm-logo.jpg" class="transition duration-300 transform ease-in-out hover:scale-110" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>

@functions {     

    protected async override Task OnAfterRenderAsync(bool firstRender)     
    {         
        // initialises the Bootstrap 5 carousel via JSInterop
        if (firstRender)
        {
            // to configure the carousel, go to 'wwwroot/js/initialiseCarousel.js'
            await JsRuntime.InvokeAsync<object>("initialiseCarousel");
            firstRender = false;
        }
    }     
}
