<div>

  <!-- navbar top layer -->
  <nav class="bg-fotoblue" id="navbar-top">

    <div class="md:container"> <!-- start container -->
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">

            <!-- Hamburger button for mobile menu -->
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden" >
              <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-blue-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>

                <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
                <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>

            <!-- Site name and logo -->
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div class="block md:hidden h-12 w-auto items-center ml-4">
                    <span class="flex items-center justify-center sm:ml-12">
                        <i class="bi-camera" style="font-size: 2rem; color: white;"></i>
                    </span>
                </div>
                <!-- Only show large icon and name on md(768px) screens and above -->
                <div class="hidden md:block h-12 w-auto items-center">
                    <span class="flex items-center justify-center text-white">
                        <i class="bi-camera" style="font-size: 2.5rem; color: white; margin-top: -7px; margin-left: 3px;"></i>
                        <a class="text-white text-xl ml-4 pb-2" href="/">Foto Storio Marketing</a>
                    </span>
                </div>
            </div>

            <!-- Login details -->
            <div class="flex flex-row items-center">
              <!-- <LoginDisplay /> -->
              <span class="text-white">Logged In as: David John</span>
            </div>

        </div>
      </div>
    </div> <!-- end container -->

    <!-- Mobile menu -->
    <div class="md:hidden @NavMenuCssClass" id="mobile-menu">
      <!-- <MobileMenu navMenuItems=@NavMenuItems /> -->
    </div>

  </nav>

  <!-- navbar second layer -->
  <!-- <NavMenu navMenuItems=@NavMenuItems /> -->

  <!-- main body content -->
  <main role="main" class="flex-shrink-0 container max-w-7xl pb-12">
      <div class="container">
          <div class="py-3 min-h-[65dvh]">
            <router-outlet></router-outlet>
          </div>
      </div>
  </main>

  <app-footer></app-footer>

</div>
