@page "/about"

<div class="md:container mt-4 mb-8 h-auto text-justify">
    <h4 class="text-2xl font-bold mb-8">About the Site</h4>
    <p class="mb-8">
        Welcome to Foto Storio, a .NET e-commerce application built with a container-based microservice architecture, incorporating a Blazor WebAssembly store with a responsive layout created using Tailwind CSS. It incorporates API Gateways, gRPC services, Web APIs galore, along with asynchronous messaging via Rabbit MQ and MassTransit and payment processing using Stripe. 
        The source code is available to view on <a href="https://github.com/DavidAJohn/FotoStorioMicroservices" target="_blank" class="text-fotoblue underline">GitHub</a> if you're interested in learning more about it.
    </p>

    <div class="text-lg font-bold mb-8">Expected Knowledge</div>
    <p class="mb-4">
        If you're a newcomer to Microsoft's .NET technology, you're likely to find this extremely tough going. Microsoft's <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank" class="text-fotoblue underline">Blazor</a> website would be a much better place to start.
    </p>
    <p class="mb-4">
        If you're a .NET developer who is new to Blazor, I'd recommend Carl Franklin's excellent <a href="https://www.blazortrain.com" target="_blank" class="text-fotoblue underline">Blazor Train</a> site. Don't forget, it's only the client applications (the store and admin projects) that are built using Blazor. There's a lot of other Web API and database stuff that may also interest you.
    </p>
    <p class="mb-4">
        For more information on the theory and practice of using microservices in .NET, Microsoft have a great guide <a href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/" target="_blank" class="text-fotoblue underline">here</a>.
    </p>
    <p class="mb-4">
        If you're an experienced .NET developer who's also familiar with Blazor, I may still have thrown you a curveball by introducing Tailwind CSS, rather than sticking with something more traditional like Bootstrap.
        I'm aware that this limits my audience somewhat (possibly just to me and <a href="https://chrissainty.com/tailwindcss/" class="text-fotoblue underline">Chris Sainty</a>), but I'd been looking to use Tailwind for something more than just little tutorial projects.
        I know Tailwind is divisive, but I was surprised how quickly I came to enjoy using it. I found it was much simpler to develop a responsive layout with Tailwind rather than editing media queries in separate CSS files. 
        If you're a sceptic, I'd suggest reading Tailwind creator Adam Wathan's explanation about why he created it <a href="https://adamwathan.me/css-utility-classes-and-separation-of-concerns/" class="text-fotoblue underline">here</a>. He asks you to try to "suppress the urge to retch long enough to give it a chance".
    </p>

    <div class="text-lg font-bold mb-4 mt-4">Construction</div>
    <p class="mb-4">
        The application was constructed using Visual Studio 2022 (Community Edition). For the last few years, I've predominantly used Visual Studio Code and generated new projects via the dotnet CLI, but the ease with which Visual Studio deals with Dockerfiles and docker compose - not to mention Hot Reload that was added in .NET 6 - made Visual Studio the logical choice for developing this application.
    </p>
    <p class="mb-4">
        The solution consists of several sections: a Services section which contains projects that deal with the product catalogue, basket functionality, ordering, etc. These microservices collectively provide the functionality that you would typically get from a backend/API project in a monolithic application. 
    </p>
    <p class="mb-4">
        Then we have a section which contains several API Gateways. These have been built using <a href="https://ocelot.readthedocs.io/en/latest/index.html" target="_blank" class="text-fotoblue underline">Ocelot</a>. They allow the client applications to have a single point of contact with the backend services. The gateways and the Products Aggregator are responsible for pulling together and returning the data the client requests from whichever service (or services) are required.
    </p>
    <p class="mb-4">
        We also have a section that contains the client applications themselves. The store is a stand-alone Blazor WebAssembly project with a responsive layout courtesy of Tailwind. The admin application is a Blazor Server application which also uses Tailwind for its layout.
    </p>
    <p class="mb-8">
        You may be surprised to see a package.json file (and node_modules folder) inside the client applications. Node was used in this case to initialise and generate the Tailwind files required for styling.
    </p>
    <p class="mb-8">
        Payment processing for the site has been implemented using <a href="https://stripe.com" target="_blank" class="text-fotoblue underline">Stripe</a>. This allows us to pass the responsibilty for PCI DSS compliance to Stripe themselves. 
        More details are available on our <a href="/stripe" target="_blank" class="text-fotoblue underline">Stripe payment processing page</a>.
    </p>

    <div class="text-lg font-bold mb-4 mt-4">What Does The Name Mean?</div>
    <p class="mb-4">
        I used the name "Foto Storio" because it's really quite difficult to find a name for a camera store that hasn't already been taken.
        Seriously, try it for yourself. I thought perhaps I'd have more luck if I switched to a different language.
    </p>
    <p class="mb-4">
        "Foto Storio" is actually two Welsh language words, one of which is misspelt and the other which is misused.
        The Welsh word for photo is "ffoto". I took off one of the Fs to avoiding confusing non-Welsh people.
        "Storio" is actually the Welsh verb "to store", as in "to store something in a location". The Welsh word for shop is "siop".
        I thought "Storio" sounded cooler though (possibly even Italian!), and I also wanted to avoid having the words "photo" and "shop" anywhere near each other, for obvious legal reasons *.
    </p>
    <p class="mb-8">
        * Although it turns out there is actually a store in Aberystwyth called "Siop Ffoto Shop".
        Hopefully, for their sake, Adobe's lawyers do not find out about this.
    </p>

    <div class="text-lg font-bold mb-4 mt-4">Thanks</div>
    <p class="mb-4">
        It would have been impossible to develop an application like this in a vacuum, so the many great articles and videos on Blazor by <a href="https://chrissainty.com/" class="text-fotoblue underline">Chris Sainty</a>, <a href="https://blazortrain.com/" class="text-fotoblue underline">Carl Franklin</a> and Marinko Spasojevic at <a href="https://code-maze.com/" class="text-fotoblue underline">Code Maze</a> have been invaluable.
    </p>
    <p class="mb-4">
        Udemy courses by the following people have also been a huge help: 
        <ul class="list-disc ml-4">
            <li><a href="https://www.udemy.com/courses/search/?src=ukw&q=neil+cummings" class="text-fotoblue underline">Neil Cummings</a></li>
            <li><a href="https://www.udemy.com/courses/search/?src=ukw&q=mehmet+ozkaya" class="text-fotoblue underline">Mehmet Ozkaya</a></li>
            <li><a href="https://www.udemy.com/courses/search/?src=ukw&q=trevoir+williams" class="text-fotoblue underline">Trevoir Williams</a></li>
            <li><a href="https://www.udemy.com/courses/search/?lang=en&q=felipe+gavilan&src=ukw" class="text-fotoblue underline">Felipe Gavilan</a></li>
        </ul>
    </p>
</div>
