@page "/sitestatus"

@using Admin.BlazorServer.Contracts
@using Admin.BlazorServer.DTOs

@inject IConfiguration config
@inject IOrderService orderService
@inject IInventoryService inventoryService
@inject IHealthService healthService
@inject IProductService productService

<AuthGuard RolesAllowed="Administrator" />

<div class="text-3xl mb-8 mt-8 font-bold text-center">
    <span class="text-blue-800">FotoStorio</span> Store Status
</div>

<div class="text-lg text-gray-600 mb-4 font-semibold text-center">
    Last Updated: @LastUpdated
</div>

<div class="my-10 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-10">
    <div class="mx-auto w-72">
        <img src="@ImagePath/fotostorio-admin-website.jpg" class="w-full h-56 opacity-90 object-cover object-top shadow-md rounded-md">
        <div class="relative px-4 -mt-16 text-center">
            <div class="bg-white p-4 rounded-lg shadow-lg">
                <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">Website Status</h4>
                <div class="mt-4">
                    <span class="@healthTextColour text-lg font-semibold">@healthMessage</span>
                </div>
                <div class="mt-4">
                    <span class="text-sm text-gray-600">
                        For full details, see the <a href=@ApplicationStatusUrl target="_blank" class="text-blue-800">Application Status</a> app
                    </span>
                </div>  
            </div>
        </div>
    </div>

    <div class="mx-auto w-72">
        <img src="@ImagePath/fotostorio-admin-orders.jpg" class="w-full h-56 opacity-90 object-cover object-center shadow-md rounded-md">
        <div class="relative px-4 -mt-16 text-center">
            <div class="bg-white p-4 rounded-lg shadow-lg">
                <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">Recent Orders</h4>
                <div class="mt-4">
                    <span class="text-teal-600 text-lg font-semibold">@ordersMessage</span>
                </div>
                <div class="mt-4">
                    <span class="text-sm text-gray-600">
                        For full details, see the <a href="orders" class="text-blue-800">Customer Orders</a> page
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="mx-auto w-72">
        <img src="@ImagePath/fotostorio-admin-stock.jpg" class="w-full h-56 opacity-90 object-cover object-center shadow-md rounded-md">
        <div class="relative px-4 -mt-16 text-center">
            <div class="bg-white p-4 rounded-lg shadow-lg">
                <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">Low Stock</h4>
                <div class="mt-4">
                    <span class="text-teal-600 text-lg font-semibold">@stockMessage</span>
                </div>
                <div class="mt-4">
                    <span class="text-sm text-gray-600">
                        For full details, see the <a href="stockcontrol" class="text-blue-800">Stock Control</a> page
                    </span>
                </div>  
            </div>
        </div>
    </div>
</div>

@if (showProductCount)
{
    <div class="text-xl mt-24 font-semibold text-center">
        There are currently <span class="text-teal-600">@productCountToDisplay</span> products listed in the store
    </div>
}

@if (AzureConfigured)
{
    <div class="border-dashed border-3 rounded-md border-blue-800 p-4 mx-auto w-64 text-center mt-12 mb-4">
        <span class="text-xl font-semibold">
            <a href="addproduct">Add a New Product</a>
        </span>
    </div>
}
else 
{
    <div class="text-lg mt-12 mb-4 font-semibold text-center text-gray-500">
        To be able to add new products, you need to configure an Azure storage account.
        <br />
        You can find documentation on how to do that here: <a href="https://github.com/DavidAJohn/FotoStorioMicroservices" class="text-blue-800">https://github.com/DavidAJohn/FotoStorioMicroservices</a>
    </div>
}
