<div class="h-screen">
    <div class="px-0 lg:container lg:max-w-7xl md:mt-4">
        <div class="w-full px-12 pt-4 pb-8 rounded-md shadow-md bg-white focus:outline-none z-10">
            @if (errorMessage != "") 
            {
                <div class="mx-2 animate-pulse">
                    <div class="alert-box text-center" role="alert">
                        <span class="block sm:inline">{{errorMessage}}</span>
                    </div>
                </div>
            } @else if (discounts) {
                <div class="text-xl text-center lg:text-2xl font-bold mb-9">
                    <h3>Discounts</h3>
                </div>
                <div class="text-base font-bold flex flex-row justify-center mb-6">
                    <div class="relative inline-block text-left">
                        <div>
                          <button type="button" 
                            id="menu-button"
                            class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"  
                            (click)="toggleDropdown()"
                          >
                            Show
                            <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                            </svg>
                          </button>
                        </div>
                        <div 
                            class="absolute left-0 right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" 
                            role="menu" 
                            tabindex="-1"
                            [ngClass]="{'hidden': !optionsVisible}"
                        >
                          <div class="py-1 hover:cursor-default" role="none">
                            <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                            <div (click)="handleOptionClick(0)" class="text-gray-700 hover:bg-gray-100 hover:text-gray-900 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Current Discounts</div>
                            <div (click)="handleOptionClick(1)" class="text-gray-700 hover:bg-gray-100 hover:text-gray-900 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Current & Future Discounts</div>
                            <div (click)="handleOptionClick(2)" class="text-gray-700 hover:bg-gray-100 hover:text-gray-900 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">All Discounts</div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="text-base font-bold mb-6 text-center">
                    <div>Showing: <span class="italic font-semibold text-slate-700">{{ optionsText }}</span></div>
                </div>
                <div class="p-2 md:p-4 text-center w-auto text-sm lg:text-base">
                    <div class="flex flex-row mb-2 font-bold uppercase">
                        <div class="px-1 w-0 hidden md:block md:w-1/5 md:px-2">Product #</div>
                        <div class="px-1 w-1/3 text-right md:w-2/5 md:px-2 sm:text-center">Product Name</div>
                        <div class="px-1 w-1/3 md:w-1/5 md:px-2">Campaign</div>
                        <div class="px-1 w-0 hidden md:block md:w-1/5 md:px-2">Category</div>
                        <div class="px-1 w-1/3 md:w-1/5 md:px-2">&nbsp;</div>
                    </div>
                    <div class="font-normal">
                        @for (product of discountedProducts; track product.discountId)
                        {
                            <div class="flex flex-row items-center -mb-3">
                                <div class="px-1 w-0 hidden md:block md:w-1/5 md:px-2">{{product.productId}}</div>
                                <div class="px-1 w-1/3 text-right md:w-2/5 md:px-2 sm:text-center -mb-4">
                                    <div class="font-semibold text-base flex items-center justify-center">
                                        <div class="hidden md:inline-block w-12 h-auto mr-2"><img src="{{product.imageUrl}}" /></div>
                                        <div class="inline-block flex-shrink-0">{{product.name}}</div>
                                        <div class="hidden lg:block ml-2 font-bold line-through text-slate-500">£{{product.price}}</div>
                                        <div class="hidden lg:block ml-2 font-bold">£{{product.salePrice}}</div>
                                    </div>
                                    <div class="text-xs text-slate-400 text-center -mt-2 mb-2">SKU: {{product.sku}}</div>
                                </div>
                                <div class="px-1 w-1/3 md:w-1/5 md:px-2">{{product.campaign}}</div>
                                <div class="px-1 w-0 hidden md:block md:w-1/5 md:px-2">{{product.category}}</div>
                                <div class="px-2 w-1/3 md:w-1/5 md:px-2">
                                    <button type="button" class="hidden lg:block btn-fotofuchsia fotofuchsia-ripple" routerLink="/campaign/{{product.campaignId}}">View Campaign</button>
                                    <button type="button" class="lg:hidden btn-fotofuchsia fotofuchsia-ripple" routerLink="/campaign/{{product.campaignId}}">View</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            } @else {
                <div class="text-xl text-center lg:text-2xl font-bold mb-12">
                    <h3>Discounts</h3>
                </div>
                <div class="p-4 text-center font-semibold">
                    No discounts could be found
                </div>
            }
        </div>
    </div>
    <div class="mt-8 flex justify-center">
        <button class="p-2 my-3 bg-fotofuchsia text-white rounded-sm text-sm hover:opacity-90 fotofuchsia-ripple">
            <a routerLink="/" class="hover:text-white">Go Back</a>
        </button>
    </div>
</div>
