<footer id="footer" class="text-white bg-fotoblue">
    <div class="container p-8 max-w-7xl">
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-10">

            <div class="md:pl-16 sm:col-span-2 pt-0 mt-0">
                <div class="pb-3 pt-0 flex items-center">
                    <i class="bi-camera" style="font-size: 2rem; color: white;"></i>
                    <span class="inline ml-3 text-xl text-bold text-white">Foto Storio</span>
                </div>
                <div class="pt-0">
                    This is not a real camera store. (Hard to believe, I know).
                    It was created by <a href="https://github.com/DavidAJohn" class="text-gray-400 hover:text-gray-400">David John</a> as a way of exploring Microsoft's Blazor web development framework.
                    You can also view the project's source code on <a href="https://github.com/DavidAJohn/FotoStorioMicroservices" class="text-gray-400 hover:text-gray-400">GitHub</a>.
                </div>
            </div>

            <div class="col-span-1 md:ml-16 xl:ml-32">
                <h5 class="mb-4 uppercase text-gray-400 font-bold">Links</h5>
                <div>
                    <div>
                        <i class="mr-2 bi bi-github"></i> 
                        <a href="https://github.com/DavidAJohn/FotoStorioMicroservices" class="text-gray-100 hover:text-gray-400">GitHub source</a>
                    </div>
                    <div>
                        <i class="mr-2 bi bi-border-all"></i> 
                        <a href="https://blazor.net" class="text-gray-100 hover:text-gray-400">Blazor.net</a>
                    </div>
                    <div>
                        <i class="mr-2 bi bi-globe"></i>
                        <a href="/about" class="text-gray-100 hover:text-gray-400">About the Site</a>
                    </div>
                    <div>
                        <i class="mr-2 bi bi-globe"></i>
                        <a href="/contact" class="text-gray-100 hover:text-gray-400">Contact Me</a>
                    </div>
                </div>
            </div>
            <div class="col-span-1 md:ml-4 lg:ml-16">
                <h5 class="mb-4 uppercase text-gray-400 font-bold">Social</h5>
                <ul class="list-none">
                    <li>
                        <i class="mr-2 bi bi-facebook"></i> 
                        <a href="https://facebook.com" class="text-gray-100 hover:text-gray-400">Facebook</a>
                    </li>
                    <li>
                        <i class="mr-2 bi bi-twitter"></i> 
                        <a href="https://twitter.com" class="text-gray-100 hover:text-gray-400">Twitter</a>
                    </li>
                    <li>
                        <i class="mr-2 bi bi-instagram"></i> 
                        <a href="https://instagram.com" class="text-gray-100 hover:text-gray-400">Instagram</a>
                    </li>
                    <li>
                        <i class="mr-2 bi bi-linkedin"></i> 
                        <a href="https://linkedin.com" class="text-gray-100 hover:text-gray-400">LinkedIn</a>
                    </li>
                </ul>
            </div>
              
        </div>
    </div>

    <div class="p-3 text-center" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy; Copyright {{currentYear}} - Foto Storio
    </div>
</footer>
