@page "/404"

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
        </div>
        <h2>Sorry, page not found</h2>
        <p>
            The page you are looking for is not available
        </p>
        <NavButton
            Href="/"
            ButtonText="Back to the Home page"
        />
    </div>
</div>
