@page "/products/"

@using Store.BlazorWasm.Contracts
@using Store.BlazorWasm.Models

@inject IProductService productService

<div class="container">
    @if (errorMessage != "")
    {
        <div class="alert alert-danger" role="alert">
            <h4>@errorMessage</h4>
        </div>
    }
    else if (products == null)
    {
        <text>Loading products...</text>
    }
    else
    {
        <div class="mt-8 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10">
            @foreach (var product in products)
            {
                <div class="product-card hover:shadow-xl hover:opacity-70">
                    <a href="products/details/@product.Id" class="hover:text-fotoblue">
                        <img src="@product.ImageUrl" alt="@product.Name" class="w-full h-32 sm:h-48 object-cover">
                        <div class="m-4">
                            <span class="font-bold block">@product.Name</span>
                            @if (product.SalePrice != 0 && product.SalePrice < product.Price)
                            {   
                                <span class="text-gray-500 text-sm line-through mr-4">£@product.Price</span>
                                <span class="inline text-gray-500 text-sm">Now: £@product.SalePrice</span>
                            }
                            else
                            {
                                <span class="block text-gray-500 text-sm">£@product.Price</span>
                            }
                        </div>
                    </a>
                    @if (product.SalePrice != 0 && product.SalePrice < product.Price)
                    {
                        <div class="product-badge">
                            <svg class="h-6 w-6 inline-block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                            </svg>
                            <span>Save £@((product.Price - product.SalePrice))</span>
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>

@code {
    List<Product> products;
    private string errorMessage = "";

    [CascadingParameter]
    public ErrorLogger Error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetProducts();
    }

    private async Task GetProducts() 
    {
        try
        {
            products = await productService.GetProductsAsync();
            errorMessage = "";
        }
        catch (Exception ex)
        {
            Error.ProcessError(ex, "Pages/Products/Index.GetProducts()");
            errorMessage = "Could not retrieve products";
        }
    }
}
