@using Store.BlazorWasm.Extensions
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <div class="md:mr-4">
            @if (!string.IsNullOrEmpty(displayName))
            {
                <span class="hidden sm:inline text-gray-50 text-sm font-medium md:mr-6">Hi, @displayName</span>
            }
            @if (isAdminByPolicy)
            {
                <span class="text-gray-300 text-sm font-medium md:mr-2">Admin Page</span> 
            }
            @if (isMarketingByPolicy)
            {
                <span class="text-gray-300 text-sm font-medium md:mr-2">Marketing Page</span> 
            }
            @if (isUserByPolicy || isAdminByPolicy)
            {
                <span class="md:mr-2">
                    <NavLink href="/account/orders" class="text-gray-300 hover:bg-blue-900 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
                        Your Orders
                    </NavLink>
                </span>
            }
            <NavLink href="logout" class="text-gray-300 hover:bg-blue-900 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Log out</NavLink>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="md:mr-4">
            <NavLink href="login" class="text-gray-300 hover:bg-blue-900 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Log In</NavLink>
            <NavLink href="register" class="text-gray-300 hover:bg-blue-900 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Register</NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private string displayName;
    bool isAdminByPolicy = false;
    bool isMarketingByPolicy = false;
    bool isUserByPolicy = false;

    protected override async Task OnInitializedAsync()
    {
        await GetAuthorisationData();
    }

    private async Task GetAuthorisationData()
    {
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            displayName = user?.Claims?.FirstOrDefault(c => c.Type == "given_name").Value;
        }

        if ((await AuthorizationService.AuthorizeAsync(user, "IsAdmin")).Succeeded)
        {
            isAdminByPolicy = true;
        }

        if ((await AuthorizationService.AuthorizeAsync(user, "IsMarketing")).Succeeded)
        {
            isMarketingByPolicy = true;
        }

        if ((await AuthorizationService.AuthorizeAsync(user, "IsUser")).Succeeded)
        {
            isUserByPolicy = true;
        }
    }
}
