<div class="px-2 pt-2 pb-3 space-y-1">
    <!-- Current: "bg-blue-900 text-white", Default: "text-gray-300 hover:bg-blue-900 hover:text-white" -->
    <a href="/products" class="text-gray-300 hover:bg-blue-900 hover:text-white block px-3 py-2 rounded-md text-base font-medium">DSL Cameras</a>

    <a href="/products" class="text-gray-300 hover:bg-blue-900 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Mirrorless Cameras</a>

    <a href="/products" class="text-gray-300 hover:bg-blue-900 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Lenses</a>

    <a href="/products" class="text-gray-300 hover:bg-blue-900 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Special Offers</a>
</div>
